$large-screen: 840px;
$default-font: "Inconsolata", monospace;
$dark-grey: #2b2b2b; 
$light-grey: #f6f4ed;
$pale-grey: #f9f6ef;
$railscasts-yellow: #d3c9a9;
$railscasts-green: #b4ca73;
$railscasts-blue: #85a0c2;
$railscasts-orange: #c89948;
$railscasts-purple: #c3c2ee;

// Base
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

// To avoid flicker of unstyled text
html.wf-loading * {
  opacity: 0;
}

body {
  font-family: $default-font;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

p {
  font-family: $default-font;
  font-size: 22px;
}

cite {
  font-size: 26px;
  font-style: normal;

  @media (min-width: $large-screen) {
    font-size: 32px;
  }
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0; 
}

h1, h2 {
  font-family: $default-font;
}

pre {
  white-space: pre-wrap;
  padding: 10px;
}

a {
  background-color: #1f1f1f;
  color: $railscasts-orange;

  &:hover,
  &:focus {
    color: $railscasts-green;
  }
}

hr {
  border: 4px solid $dark-grey;
}

// Nav
.navigation__logo {
  width: 70px;
  padding: 10px 0 0 10px;
}

.navigation__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  font-size: 28px;
  align-items: center !important;
  display: flex !important;

  max-width: 1200px;
  margin: 0 auto;
}

.navigation__item {
  float: left;
 
  a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: $default-font;
    font-weight: 600;
    background-color: #ffffff;
  }
}

// Hero
.hero {
  background-color: $dark-grey;
}

.hero__container  {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: $large-screen) {
    display: flex;
  }
}

.hero__heading {
  flex: 1;
}

.hero__content {
  flex: 2;
}

.hero__title {
  font-size: 90px;
  font-family: $default-font;
  margin: 10px 0 0 0;
  color: $railscasts-yellow;
  display: table;
  letter-spacing: 8px;

  @media (min-width: $large-screen) {
    font-size: 130px;
    font-weight: 800;
  }
}

.hero__title--word {
  display: table; //https://css-tricks.com/injecting-line-break/
  margin: 0 0 10px;
  background-color: #1e1e1e;
  padding: 0 10px;
}

.hero__text {
  margin: 0;
  font-family: $default-font;
  font-size: 40px;
  font-weight: 500;
  color: $railscasts-blue;
}

.hero__text--subtitle, 
.hero__text--subtitle a {
  color: $railscasts-orange;
  margin-top: 20px;
}

.hero__text--subtitle a {

  &:hover,
  &:focus {
    color: $railscasts-purple;
  }
}

.hero__syntax {
  font-size: 200%
}

.hero__text--strapline {
  margin: 10px 0;
  color: white;
  display: flex;
  align-self: end;
}

// Structure
.section {
  flex-direction: column;

  @media (min-width: $large-screen) {
    display: flex;
  }
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;

  @media (min-width: $large-screen) {
    display: flex;
    align-items: baseline;  
  }
}

.section__container--secondary {
  background-color: $light-grey;

  @media (min-width: $large-screen) {
    padding: 0 60px;
  }
}

.section__container--inverse {
  background-color: $dark-grey;
  color: $railscasts-orange;
  margin-top: 0;
}

.section__heading {
  flex: 1;
  font-size: 40px;
  font-family: $default-font;
  color: $dark-grey;
  
  @media (min-width: $large-screen) {
    font-size: 90px;
  }
}

.section__content {
  flex: 2;
  padding: 10px 0;
  
  @media (min-width: $large-screen) {
    padding: 30px 0;
  }

  a {
    background-color: #f9f6ef;
  }

  h1, aside {
    font-size: 35px;
  }

  h2, li {
    font-size: 30px;
    list-style: none;
  }

  ul {
    padding-inline-start: 5px;
  }
}

.section__content--logos {
  margin: 0 auto;
  padding: 30px;

  h1 {
    text-align: center;
  }
}

.logo {
  width: 100%;
  padding: 0 10px 10px 0;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }

  @media (min-width: $large-screen) {
    width: 30%;
    padding: 0 30px;
  }
}

.section__container--text {
  margin: 0 auto;
  padding: 30px 0;
  font-size: 24px;
  font-weight: 600;
  padding-left: 10px;

  a {
    background-color: $pale-grey;
  }
}

.section__container--cta {
  text-align: center;
}

.button__cta {
  border: 0;
  border-radius: 4px;
  background-color: #e36049;
  box-shadow: inset 0 -4px 0 0 #bb2d00;
  cursor: pointer;
  outline: 0;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  line-height: 40px;
  text-align: center;
  color: #ebe7e3;
  font-size: 150%;
  font-weight: 600;
  padding: 10px;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  @media (min-width: $large-screen) {
    padding: 30px 60px;
    text-align: center;
    font-size: 200%;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: $dark-grey;
  padding: 30px;
  color: white;

  a {
    color: white
  }
}

input, button, textarea {
  font-family: $default-font;
  font-size: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: $light-grey;
  box-shadow: none;
  padding: 5px;
  
  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 250px;
  resize: vertical;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.contact {
  &-card {
    border: 1px solid black;
    max-width: 480px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -0.6rem 0.6rem 0 $railscasts-yellow;
  }

  &-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
  }

  &-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    &__message {
      margin-top: 10px;            
    }
    
    button {
      margin-top: 10px;
      align-self: flex-end;
    }
  }
}
