// Base
* {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: "Inconsolata", sans-serif ; //"Space Mono", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

}

p {
  font-family: "Inconsolata", sans-serif ; //"Space Mono", sans-serif;
  font-size: 22px;
}

cite {
  font-size: 32px;
  font-style: normal;
}

figure {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  
}

h1, h2 {
  font-family: "Inconsolata", sans-serif ; //"Space Mono", sans-serif;
}

pre {
  padding: 20px 30px;
  white-space: pre-wrap;
}

a {
  background-color: #1f1f1f;
  padding: 5px;
  color: darksalmon;
}

hr {
  border:4px solid #2b2b2b
}

// Nav

.navigation {
  padding-left: 5px;
}

@media (min-width: 840px) {
  .navigation {
    padding-left: 50px;
  }
}

.navigation__logo {
  width: 70px;
  padding: 10px 0 0 0;
}

.navigation__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 28px;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.navigation__item {
  float: left;
 
  a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Inconsolata", sans-serif ; //"Space Mono", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
  }
}

// Hero

.hero {
  background-color: #2b2b2b;
}

@media (min-width: 840px) {
  .hero {
    padding: 0 50px;
  }

  .hero__container  {
    display: -webkit-flex;
    display: flex;
    padding: 0px;
  }
}

.hero__container  {
  padding: 30px 0;
}

.hero__heading {
  padding:0 20px;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.hero__content {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.hero__title h1 {
  font-size: 130px;
  font-family: "Inconsolata", sans-serif;
  margin: 10px 0 0 0;
  background-color: #1e1e1e;
  color: #d3c9a9;
  padding: 0 20px;
  display: table;
  letter-spacing: 8px;
}

.hero__text {
  margin: 0;
  font-family: "Inconsolata", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #85a0c2;
}

.hero__text--subtitle, 
.hero__text--subtitle a {
  color: #c89948;
  margin-top: 20px;
}

.hero__syntax {
  font-size: 200%
}

.hero__text--strapline {
  margin: 10px 0;
  color: white;
  display: flex;
  align-self: end;
}

// Structure
.section {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.section__container {
  margin-top: 5px;
  padding: 30px 60px;
}

.section__container--secondary {
  background-color: #efede7;
  padding: 0 60px;
}

.section__container--inverse {
  background-color: #2b2b2b;
  color: #ed9d14;
  margin-top: 0;
  font-size: 24px;
}

.section__heading {
  flex: 1;
  
  h1 {
    font-size: 90px;
    font-family: "Inconsolata", sans-serif;
    color: #2b2b2b;
    padding: 50px 10px 0;
    display: table;
  }
}

.section__content {
  flex: 3;
  padding: 30px 0 30px;

  a {
    background-color: #f9f6ef;
  }

  h1, li {
    font-size: 44px;
  }
}

.section__content--logos {
  margin: 0 auto;
  padding: 30px;

  h1 {
    text-align: center;
  }
}

.logo {
  width: 30%;
  padding: 0 10px 10px 0;
  filter: grayscale(100%);
}

.section__container--cta {
  margin: 0 auto;

  a {
    background-color: #f9f6ef;
  }
}

@media (min-width: 840px) {
  .section {
    display: -webkit-flex;
    display: flex;
  }
  
  .section__container {
    display: -webkit-flex;
    display: flex;
    align-items: baseline  
  }

  .section__heading {    
    h1 {
      padding: 3px 10px;
    }
  }
}

.button__cta {
  background-color: #98b356;
  border-radius: 10px;
  -webkit-appearance: none;
  background-color: #ff5722;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 -4px 0 0 #bb2d00;
  color: #fff;
  cursor: pointer;
  font: 18px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 600;
  outline: 0;
  padding: 8px 100px 12px;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  padding: 30px 60px;

  a {
    color: white;
    font-size: 35px;
    background-color: #ff5722;

  }
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: #2b2b2b;
  padding: 30px;
  color: white;

  a {
    color: white
  }
}

$shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);

input, button, textarea {
  font-family: "Inconsolata", sans-serif ; //"Space Mono", sans-serif;
  font-size: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image:none;
  background-color: #dadad3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  
  &:focus {
      outline: none;
  }
}

textarea {
  min-height: 250px;
  resize: vertical;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.feedback {
  &-card {
    border: 1px solid black;
    max-width: 480px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: $shadow;
  }
  &-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
  }
  &-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    &__message {
        margin-top: 10px;            
    }
    
    button {
        margin-top: 10px;
        align-self: flex-end;
    }
  }
}
