<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }}</title>
    <meta name="Description" content="Website promoting our event to write a publishing-specific website in a day">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77263125-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-77263125-3');
    </script>
  </head>
  <body>
    {% include comments.html %}
    {% include nav.html %}
    <div class="container">
      {{ content }}
    </div>
    <footer>
      Day of Code is a <a href="https://generalproducts.co">General Products Ltd</a> initiative.
      <a href="coc">Code of Conduct</a>.
      This website and guides by <a href="http://twitter.com/has_many_books">Emma</a> during Side Project Fridays provided by <a href="https://www.consonance.app/">Consonance</a>.
    </footer>
  </body>
</html>
